<section class="text-box container">
   <div class="text-box-main row">
    <div class="bottom-img-box col-lg-5 col-md-5 col-10 ">

    <div class="grid-container">
        <div class="content-section-1">
                <div class="heading-box">
                    <h2>Trendy collections with comfort amazing designs awesome</h2>

                </div>
                <div class="button-box">
                    <button class="btn btn-dark btn-lg">check out</button>
     
                </div>
        </div>
        <div class="image-section-1">

            <div class="image-container">
                <img src="assets/images/Daco_4756195.png" alt="">
            </div>

        </div>
    </div>
        
    </div>
    <div class="top-img-box col-lg-3 col-md-3 col-10 ">
        <div class="grid-container-2">
            <div class="image-sect-2 ">
                <img src="assets/images/watch.png" alt="">
            </div>
            <div class="content-sect-2 ">
                <h3 class="sub-head">
                    Automatic smooth trendy watch
                </h3>
            </div>
        </div>
    </div>
    <div class="side-img-box col-lg-3 col-md-3 col-10"></div>
   </div>
</section>